torch==2.4.1
torchvision==0.19.1

opencv-python==4.10.0.84
numpy==1.26.4
pandas==2.2.2
Pillow==10.4.0
matplotlib==3.9.2
scikit-learn==1.5.1
tqdm==4.66.5

tensorboard==2.17.1

onnx==1.16.2
onnxruntime==1.19.2

# Optional: pull FER2013 via Kaggle API (see README.md "Dataset Preparation")
kaggle==1.6.17
